*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.phrase {
  font-size: 3em;
  color: rgba(29, 122, 243, 0.35);
  position: relative;
}

.phrase::before {
  content: "#30DIASDECSS";
  color: rgba(29, 122, 243, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: width 0.5s ease-in;
}

.phrase:hover::before {
  width: 100%;
}
